---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <!-- <h2 class="mb-4 text-2xl font-medium">About lospipell</h2> -->

        <p class="mt-0">
          <strong>lospipell</strong> adalah ruang yang lahir dari kebutuhan untuk menuliskan hal-hal yang tak selalu mudah diucapkan. Di sini, tulisan menjadi medium untuk merenung, memahami, dan terkadang hanya untuk merasa tidak sendirian.
        </p>

        <p>
          Blog ini berisi catatan tentang kehidupan, pemikiran-pemikiran yang muncul di tengah malam, pertanyaan yang belum tentu ada jawabannya, dan juga hal-hal teknis yang kebetulan ingin saya dibagikan seperti pemrograman atau lainnya terkait teknologi. Kadang personal, kadang informatif, kadang keduanya.
        </p>

        <p>
          Nama <strong>lospipell</strong> sendiri adalah plesetan dari “lost people” — mewakili perasaan yang mungkin pernah (atau masih) dirasakan banyak orang: merasa tersesat, mencari arah, mencoba mengerti hidup, dan terus belajar di tengah semua itu.
        </p>

        <p>
          Setiap orang sedang mencari sesuatu — jawaban, arah, atau makna.
          Mungkin kamu juga. Dan meski blog ini bukan peta, semoga ia bisa jadi penunjuk kecil di tengah perjalananmu.
          Selamat datang di <strong>lospipell</strong>.
        </p>
      </div>
    </div>
  </section>
</Layout>
